<div class="pagination">
  {{#if next}}
    <a class="pagination-item older" href="{{page_url next}}">Older</a>
  {{/if}}
  {{#if prev}}
    <a class="pagination-item newer" href="{{page_url prev}}">Newer</a>
  {{/if}}
</div>
